<p>
    <ru-navbar></ru-navbar>
</p>

<div>
    <div class="left-side">

        <div class="account">
            <label class="hoverable" for="fileInput">
                <img [src]="url ? url : 'https://www.w3schools.com/howto/img_avatar.png'"> 
                <div class="hover-text">Choose file</div>
                <div class="background"></div>
            </label>
            <br/>
            <input id="fileInput" type='file' (change)="onSelectFile($event)">
            <button mat-mini-fab class="delete" *ngIf="url" (click)="delete()" color="primary">
                <mat-icon>delete</mat-icon>
            </button>
        </div>

        <div class="name-surname">
            <!-- <span id="name">{{userName()}}</span>
            <span id="surname">{{surname}}</span> -->
            {{userName()}}
        </div>
        <div id="passenger">Passenger</div>

        <ul class="options">
            <li><a id="profile" class="option">Profile</a></li>
            <li><a id="favorite" class="option">Favorite Locations</a></li>
        </ul>
    </div>

    <user-data id="user-data"></user-data>
    <favorite-locations id="favorite-locations"></favorite-locations>

</div>
