<mat-toolbar>
  <!--TODO in .ts via click listener change route either to passenger-home or driver-home (depending on current user)-->
  <!--TODO OR (alternative way) create new navigation (same like this one) with different routing-->
  <img src="../../assets/images/logo.png" class="clickable logo" [routerLink]="['/admin-home']"/>
<span [routerLink]="['/admin-home']" class="clickable logo">Uber</span>
<div id="navigation">
  <ul>
    <li><a [routerLink]="['/admin-home']">Map</a></li>
    <li><a [routerLink]="['/passengers']">Passengers</a></li>
    <li><a [routerLink]="['/drivers']">Drivers</a></li>
    <li><a [routerLink]="['/admin-home']">Account</a></li>
  </ul>
</div>
  <span id="userName" class="clickable">Vasa</span>
  <img src="../../assets/images/account.png" id="accountImg" class="clickable"/>
</mat-toolbar>