<div id="container">
    <div id="padding">
        <mat-card id="form"> 
            <mat-card-content>
                <div id="alignment">
                    <img id="back-to-history" src="../../../../../assets/images/green-back-arrow.png"/>
                    <p id="title" class="card-content">Ride details</p>
                </div>
                <div id="infos">

                    <div class="info">
                        <p class="text">Start time: {{ride.startTime}}</p>
                    </div>
                    <div class="info">
                        <p class="text">End time: {{ride.endTime}}</p>
                    </div>
                    <div class="info">
                        <p class="text">Estimated time: {{ride.estimatedTimeInMinutes}}</p>
                    </div>
                    <div class="info">
                        <p class="text">Price : {{ride.totalCost}}</p>
                    </div>
                </div>

                <div id="button-container">
                    <button mat-raised-button color="green" id="ratings-btn">
                        <p id="ratings">View ratings</p>
                        <img id="right-arrow" src="../../../../../assets/images/right-arrow.png"/>
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
 </div>
