#padding {
  height: 90%;
  padding-top: 3%;
}

#menu-container {
  position: relative;
  z-index: 10;
  height: 38.5em;
}

mat-icon {
  vertical-align: middle;
}

#menu-btn {
  margin-left: 3%;
}

#form {
  position : relative;
  z-index: 10;
  padding-bottom: 20px;
  width: 28%;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: auto;
  border: 1px solid white;
  border-radius: 20px;
  -webkit-box-shadow: 2px 9px 50px -21px rgba(0,0,0,0.81);
  -moz-box-shadow: 2px 9px 50px -21px rgba(0,0,0,0.81);
  box-shadow: 2px 9px 50px -21px rgba(0,0,0,0.81);
}

.card-content {
  margin-left: 5%;
}

#close-dialog{
  float: right;
  width: 20px;
  height: 20px;
  margin-top: 6%;
  margin-right: 5.5%;
  border-radius: 20px;
}

.close:hover{
  background-color: rgb(243, 237, 237);
  cursor: pointer;
}

#title {
  margin-top: 12%;
  margin-bottom: 12%;
  font-weight: bold;
  font-size: x-large;
  width: 10em;
}

mat-form-field {
  width: 85%;
  padding-right: 35px;
}

#line {
  margin-left: 81%;
  margin-top: -20%;
  margin-bottom: -8.5%;
  border-left: 0.2em solid gray;
  height: 4em;
  display: inline-block;
}

#pickup-location-field { 
  margin-bottom: -7.5%;
}

.label {
  font-size: small;
}

#square {
  height: 0.5em;
  width: 0.5em;
  border: 0.15em solid gray;
  border-radius: 3px;
  margin-top: -1.2em;
  margin-left: 92%;
}

#destionation-field {
  margin-top: 3%;
}

#circle {
  height: 0.5em;
  width: 0.5em;
  border: 0.15em solid gray;
  border-radius: 10px;
  margin-top: -1.2em;
  margin-left: 92%;
}

.calculation {
  margin-top: 3%;
  font-weight: bold;
  margin-bottom: 5%;
}

#calculate {
  cursor: pointer;
  font-weight: bold;
  color: #96d49c;
  font-size: 17px;
  margin-left: 3%;
  padding: 2%;
}

#calculate:hover {
  background-color:aliceblue;
}

#button-container {
  width: 100%;
  text-align: center;
}

#order-btn {
  margin-top: 15%;
  width: 50%;
}

.error {
  margin-left: 5%;
  width: 100%;
  color: red;
}

@media (max-width:1280px) {
  #form {
    width: 30%;
  }

  #line {
    margin-left: 79.8%;
  }
}

@media(max-width: 1100px) {
 #form {
    width: 40%;
  }

  #line {
      margin-left: 80.4%;
    }
}

@media(max-width: 920px) {
  #form {
    width: 40%;
  }
  #line{
      margin-bottom: -9.5%;
      height: 4em;
    }
}

@media(max-width: 850px) {
  #form {
    width: 40%;
    margin-left: 8%;
  }
}

@media (max-width: 750px) {
  #form {
    width: 50%;
    margin-left: 10%;
  }

  #line {
    margin-left: 80%;
    margin-bottom: -9.2%;
  }

  #padding {
    padding-top: 10%;
  }
}

@media (max-width: 565px) {
  #form {
    margin-left: 10%;
    width: 85%;
  }

  #line {
    margin-left: 81%;
    margin-bottom: -7.4%;
    height: 3.5em;
  }

  #padding {
    padding-top: 10%;
  }
}

@media (max-width: 430px) {
  #form {
    width: 90%;
    height: auto;
    margin-left: 5%;
    padding-bottom: 15%;
  }

  #line {
    margin-left: 80.3%;
  }

  #padding {
    padding-top: 10%;
  }
}
