<div class="right-side">
    <div class="container">
        <mat-selection-list #locations [multiple]="false" style="font-size: large;">
            <mat-list-option *ngFor="let name of favoriteNames" [value]="name" (click)="openDialog(name)">
              {{name}}
              <img class="star" src="../../assets/images/star.png">
            </mat-list-option>
        </mat-selection-list>
        <hr>
    <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
    </div>
    <div class="button">
        <button mat-raised-button color="green" class="order">Order</button>
    </div>
</div>
