<div id="padding">
    <div id="menu-container">
        <button id="menu-btn" mat-fab color="white" aria-label="Menu" (click)="openDialog()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>

    <mat-card id="form"> 
        <mat-card-content>
            <img src="../../assets/images/close.png" id="close-dialog" class="close" (click)="closeDialog()"/>
    
            <p id="title" class="card-content">Choose your destionation!</p>

            <form [formGroup]="orderForm" fxLayout="column">
                <div>
                    <mat-form-field id="pickup-location-field" class="card-content" appearance="outline">
                        <mat-label class="label">Add a pickup location</mat-label>
                        <input matInput type="text" name="pickup" formControlName="pickup" placeholder="Type location" id="pickup_id" [(ngModel)]="pickup">
                        <div id="square"></div>
                    </mat-form-field>

                    <div id="line"></div>
                    <mat-form-field id="destionation-field" class="card-content" appearance="outline">
                        <mat-label class="label">Enter your destination</mat-label>
                        <input matInput type="text" name="destination" formControlName="destination" placeholder="Type location" id="destination_id" [(ngModel)]="destination">
                        <div id="circle"></div>
                    </mat-form-field>
                </div>
                <p class="calculation card-content">Price: {{price}} RSD</p>
                <p class="calculation card-content">Estimated time: {{time}} min</p>
                
                <div id="button-container">
                    <button mat-raised-button (click)="calculateEstimatedValues()" color="green" id="cal-btn">Calculate</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
