<div class="right-side">
    <form class="form" name="editForm" [formGroup]="editForm" (ngSubmit)="openDialog()">

        <div class="input-fields">
          <mat-form-field class="full-width left" appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput value="{{name}}" formControlName="name"/>
            <mat-error *ngIf="!editForm.controls['name'].valid"></mat-error>
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Surname</mat-label>
            <input matInput value="{{surname}}" required formControlName="surname"/>
            <mat-error *ngIf="!editForm.controls['surname'].valid"></mat-error>
          </mat-form-field>
        </div>

        <div class="input-fields">
          <mat-form-field class="full-width left" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput value="{{email}}" [disabled]="true"/>
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline" >
              <mat-label>Password</mat-label>
              <input matInput value="**************" [disabled]="true"/>
            </mat-form-field>
        </div>

        <div class="input-fields">
          <mat-form-field class="full-width left" appearance="outline">
            <mat-label>Phone</mat-label>
            <input matInput value="{{phone}}" required formControlName="phone"/>
            <mat-error *ngIf="!editForm.controls['phone'].valid"></mat-error>
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline" >
              <mat-label>Address</mat-label>
              <input matInput value="{{address}}" required formControlName="address"/>
              <mat-error *ngIf="!editForm.controls['address'].valid"></mat-error>
            </mat-form-field>
        </div> 
        
        <button mat-raised-button color="green" class="update">Update</button>
        <a (click)="sendEmail()" mat-button color="primary" class="reset">Reset Password</a>
    </form>  
</div>