<mat-toolbar>
  <!--TODO in .ts via click listener change route either to passenger-home or driver-home (depending on current user)-->
  <!--TODO OR (alternative way) create new navigation (same like this one) with different routing-->
  <img src="../../assets/images/logo.png" class="clickable logo" [routerLink]="['/admin-home']"/>
<span [routerLink]="['/admin-home']" class="clickable logo">Uber</span>
<div id="navigation">
  <ul>
    <li><a [routerLink]="['/admin-home']" class="nav">Map</a></li>
    <li><a [routerLink]="['/passengers']" class="nav">Passengers</a></li>
    <li><a [routerLink]="['/drivers']" class="nav">Drivers</a></li>
    <li><a [routerLink]="['/admin-reports']" class="nav">Reports</a></li>
    <li><a id="logout" (click)="logOut()">LogOut</a></li>
  </ul>
</div>
  <span id="userName" class="clickable">Hello, {{userName()}}</span>
</mat-toolbar>