<div class="background">
    <img src="../../assets/images/close.png" id="bgCloseImg" class="close" [routerLink]="['/home-page']"/>
  
  <div class="row">
      <img src="../../assets/images/check-mail.png" class="img-fluid rounded" />
  
    <mat-card *ngIf="!isSendEmail; else secondForm">
      <mat-card-content>
        
        <div id="cardHeader">
          <p class="title">Forgot Password?</p>
        </div>    

        <div id="cardHeader">
            <p class="text">Don't worry! It happens. Please enter the address associated with your account.</p>
        </div>  
  
        <form name="emailForm" [formGroup]="emailForm" (ngSubmit)="sendEmail()">
  
            <div class="email-input">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Email</mat-label>
                  <input
                    formControlName="email" matInput required />
                  <mat-error ></mat-error>
                </mat-form-field>
              </div>
            
            <button mat-raised-button color="green" id="submit">Submit</button>
            <div class="remember">
                <span id="remember-password">Remember password?</span>
                <a class="text-link" id="login" [routerLink]="['/login']">Login</a>
            </div>
        </form>
      </mat-card-content>
    </mat-card>


    <ng-template #secondForm>
    <mat-card>
      <mat-card-content>
        <div id="cardHeader">
          <p class="title-reset">Reset Password</p>
        </div>    
  
        <form name="resetPasswordForm" [formGroup]="resetPasswordForm">

            <div>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>New password</mat-label>
                    <input formControlName="newPassword" matInput [type]=" hide ? 'password' : 'text'"
                        required>
                    <button  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
                    [attr.aria-pressed]="hide" type="button">
                    <mat-icon>
                        {{hide ? 'visibility_off' : 'visibility'}}
                    </mat-icon>
                    </button>
                    <mat-error *ngIf="!resetPasswordForm.controls['newPassword'].valid"></mat-error>
                </mat-form-field>      
            </div>
  
            <div class="email-input">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Code</mat-label>
                    <input formControlName="code" matInput #code maxlength="6" placeholder="Ex. 941305" required>
                    <mat-hint align="end">{{code.value.length}}/6</mat-hint>
                </mat-form-field>
            </div>
            
            <button mat-raised-button color="green" id="reset" (click)="doResetPassword()">Reset</button>
        </form>
      </mat-card-content>
    </mat-card>
  </ng-template>

  </div>
</div>
