.background {
    min-height: 100%;
    padding: 5px 1rem;
    background: linear-gradient(90deg, #96d49c 50%, #ffffff 50%);
    display: block;
  }
  
#bgCloseImg{
    float: right;
    width: 30px;
    height: 30px;
    margin-left: 0;
    margin-top: 32px;
    margin-right: 60px;
    padding: 8px;
    border-radius: 20px;
}
  
#cardCloseImg{
    display: none;
}
  
.close:hover{
    background-color: rgb(243, 237, 237);
    cursor: pointer;
}
  
.column {
    float: left !important;
}
  
.row::after {
    content: "";
    clear: both;
    display: table;
}
  
img {
    float: left;
    width: 30%;
    margin-top: 10%;
}
  
mat-card {
    width: 30%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 35%;
    margin-right: auto;
    border: 1px solid white;
    border-radius: 20px;
    -webkit-box-shadow: 2px 9px 50px -21px rgba(0,0,0,0.81);
    -moz-box-shadow: 2px 9px 50px -21px rgba(0,0,0,0.81);
    box-shadow: 2px 9px 50px -21px rgba(0,0,0,0.81);
}
  
mat-card-content {
    margin-left: 5%;
}
  
#cardHeader {
    margin-top: 10%;
}
  
form {
    margin-right: 5%;
}
  
.title {
    font-size: 3em;
}

.text {
    margin-bottom: 10px;
}
  
.full-width {
    width: 100%;
    padding-top: 5px;
    font-size: 14px !important;
}
  
#submit {
    margin-top: 35px;
    margin-bottom: 10px;
    width: 100%;
}

.remember {
    margin-bottom: 50px;
}

#remember-password {
    font-size: 15px;
    margin-left: 10%;
    width: 70%;
}

#login {
    float: right;
    width: 20%;
    text-decoration: none;
    color: #96d49c;
    font-size: 15px;
    margin-right: 10%;
}

.title-reset {
    margin-bottom: 50px;
    font-size: 3em;
}
  
#reset {
    margin-top: 35px;
    margin-bottom: 10px;
    width: 100%;
}