<p>
    <ru-navbar></ru-navbar>
</p>
<div id="container">
    <div id="background-image">
         <img src="../../../../assets/images/map.png"/>
    </div>
 
    <div id="padding">
        <mat-card id="form"> 
            <mat-card-content>
                <p id="title" class="card-content">Ride history</p>
                  <ol>
                    <li id="list-item" (click)="openDetails()"> 
                        <p class="address">1. Bulevar despota Stefana 7 - Bulevar oslobodjenja XX</p>
                        <p class="date">22.11.2022.</p>
                        <div class="line"></div>
                    </li>
                    <li id="list-item" (click)="openDetails()"> 
                        <p class="address">2. Bulevar despota Stefana 7 - Bulevar oslobodjenja XX</p>
                        <p class="date">22.11.2022.</p>
                        <div class="line"></div>
                    </li>
                    <li id="list-item" (click)="openDetails()"> 
                        <p class="address">3. Bulevar despota Stefana 7 - Bulevar oslobodjenja XX</p>
                        <p class="date">22.11.2022.</p>
                        <div class="line"></div>
                    </li>
                    <li id="list-item" (click)="openDetails()"> 
                        <p class="address">4. Bulevar despota Stefana 7 - Bulevar oslobodjenja XX</p>
                        <p class="date">22.11.2022.</p>
                        <div class="line"></div>
                    </li>
                    <li id="list-item" (click)="openDetails()"> 
                        <p class="address">5. Bulevar despota Stefana 7 - Bulevar oslobodjenja XX</p>
                        <p class="date">22.11.2022.</p>
                        <div class="line"></div>
                    </li>
                    <li id="list-item" (click)="openDetails()"> 
                        <p class="address">6. Bulevar despota Stefana 7 - Bulevar oslobodjenja XX</p>
                        <p class="date">22.11.2022.</p>
                    </li>
                  </ol>
               
            </mat-card-content>
        </mat-card>
    </div>
 </div>
 

