.background {
  min-height: 100%;
  padding: 5px 1rem;
  background: linear-gradient(90deg, #96d49c 50%, #ffffff 50%);
  display: block;

}
.column {
  float: left;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

img {
  width: 100%;
  margin-left: 30%;
  margin-top: 30%;
}

mat-card {
    width: 30%;
    margin-top: 5%;
    margin-left: 40%;
    margin-right: auto;
    box-shadow: 5px 15px 20px 5px #9f9f9f !important;
  }

mat-card-content {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.title {
  display: flex;
  justify-content: space-between;
}

.welcome {
  font-size: 18px;
  font-weight: 450;
}

.no-account {
  text-align: end;
  font-size: small;
  color: #9f9f9f;
}

.sign-up {
  float: right;
  margin-right: 12%;
  text-decoration: none;
  font-size: small;
  color: #96d49c;
}

h1 {
  font-size: 3em;
  font-weight: 550;
  margin-top: 50px;
}

.email-input{
  padding-top: 10px;
  font-size: 12px !important;
}

.full-width {
  width: 100%;
}

.forgot-password{
  float: right;
  text-decoration: none;
  color: #96d49c;
  font-size: 12px;
}

.mat-green {
  color: white !important;
  background-color: #96d49c;
}

.login-btn {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
}