form {
    margin-left: auto;
    margin-right: auto;
    width: 26.7em;
    height: fit-content;
}

#left {
    width: 55%;
    float: left;
}

#signUpP{
    font-size: 3em;
    font-weight: 550;
    margin-left: 0.2em;
    margin-bottom: 0.8em;
}

#right {
    width: 35%;
    float: right;
    font-size: small;
}

#joined {
    margin-bottom: 0.1em;
    margin-top: -0.5em;
}

#login {
    color : #96D49C;
}

#fields {
    font-size: 18px;
}

mat-form-field {
    width: 23em;
    margin: 0px;
}

.formField {
    border-radius: 25px;
}

mat-label {
    font-size: small;
}

#button {
    width: fit-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

button {
    width: 15em;
    background-color: #96D49C;
}

.defaultColor {
    background-color: #96D49C;
    color: white;
}
