<div id="container">
 
    <div id="padding">
        <mat-card id="form"> 
            <mat-card-content>
                <div id="alignment">
                    <img id="back-to-details" src="../../../../../assets/images/green-back-arrow.png"/>
                    <p id="title" class="card-content">Ratings</p>

                    <ul>
                        <li>
                            <span class="item">
                                <img class="picture" src="../../../../../assets/images/account.png"/>
                                <div class="name-stars">
                                    <p class="name">Mica Žica</p>
                                    <div class="stars">
                                        <img class="star" src="../../../../../assets/images/star.png">
                                        <img class="star" src="../../../../../assets/images/star.png">
                                        <img class="star" src="../../../../../assets/images/star.png">
                                        <img class="star" src="../../../../../assets/images/star.png">
                                        <img class="star" src="../../../../../assets/images/unfilled_star.png">
                                    </div>
                                </div>
                                <p class="date">14.11.2022.</p>
                                <p class="description">Driver was a bit annoying...:///</p>
                            </span>
                        </li>
                        <li>
                            <span class="item">
                                <img class="picture" src="../../../../../assets/images/account.png"/>
                                <div class="name-stars">
                                    <p class="name">Boki Smoki</p>

                                    <div class="stars">
                                        <img class="star" src="../../../../../assets/images/star.png">
                                        <img class="star" src="../../../../../assets/images/star.png">
                                        <img class="star" src="../../../../../assets/images/star.png">
                                        <img class="star" src="../../../../../assets/images/unfilled_star.png">
                                        <img class="star" src="../../../../../assets/images/unfilled_star.png">
                                    </div>
                                </div>
                                <p class="date">14.11.2022.</p>
                                <p class="description">I didn't like the music</p>
                            </span>
                        </li>
                        <li>
                            <span class="item">
                                <img class="picture" src="../../../../../assets/images/account.png"/>
                                <div class="name-stars">
                                    <p class="name">Ana Banana</p>
                                    <div class="stars">
                                        <img class="star" src="../../../../../assets/images/star.png">
                                        <img class="star" src="../../../../../assets/images/star.png">
                                        <img class="star" src="../../../../../assets/images/star.png">
                                        <img class="star" src="../../../../../assets/images/star.png">
                                        <img class="star" src="../../../../../assets/images/star.png">
                                    </div>
                                </div>
                                <p class="date">14.11.2022.</p>
                                <p class="description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa.
                                     Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis
                                      urna. Nunc viverra imperdiet enim. Fusce est. Vivamus a tellus.</p>
                            </span>
                        </li>
                    </ul>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
 </div>

