<p>
    <account-passenger></account-passenger>
</p>

<div class="right-side">
    <div class="container">
        <div class="location">
            <p class="address">Bulevar Oslobođenja 51a</p>
            <img class="star" src="../../assets/images/star.png"/>
        </div>
        <hr>
        <div class="location">
            <p class="address">Jovana Cvijića 12</p>
            <img class="star" src="../../assets/images/star.png"/>
        </div>
        <hr>
        <div class="location">
            <p class="address">Bulevar Evrope 123</p>
            <img class="star" src="../../assets/images/star.png"/>
        </div>
        <hr>
        <div class="location">
            <p class="address">Njegoševa 84</p>
            <img class="star" src="../../assets/images/star.png"/>
        </div>
        <hr>
        <div class="location">
            <p class="address">Laze Kostića 41</p>
            <img class="star" src="../../assets/images/star.png"/>
        </div>
        <hr>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 50]" showFirstLastButtons></mat-paginator>
    <div class="button">
        <button mat-raised-button color="green" class="order">Order</button>
    </div>
</div>
