<div class="background">
    <div class="row">
    
      <div class="column">
        <img src="../../assets/images/Saly-3.png" class="img-fluid rounded" />
      </div>


        <mat-card>
            <mat-card-content>
                <div>
                    <div id="left">
                        <p id="sign-up-p">Sign up</p>
                    </div>
                    <div id="right">
                        <p id="joined">Joined us before?</p>
                        <a><p id="login" (click)="login()">Login</p></a>
                    </div>
                </div>
           
            
            <form [formGroup]="registrationForm" (ngSubmit)="registrate()" fxLayout="column">

            <mat-form-field appearance="outline" class="advanced_width">
                <mat-label>Name</mat-label>
                <input matInput type="text" name="name" formControlName="name" />
                <mat-error *ngIf="!registrationForm.controls['name'].valid">Name is required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="advanced_width">
                <mat-label>Last name</mat-label>
                <input matInput type="text" name="lastname" formControlName="lastname" />
                <mat-error *ngIf="!registrationForm.controls['lastname'].valid">Lastname is required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="advanced_width">
                <mat-label>Email address</mat-label>
                <input matInput type="email" name="email" formControlName="email" />
                <mat-error *ngIf="!registrationForm.controls['email'].valid">Email is required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="advanced_width">
                <mat-label>Password</mat-label>
                <input name="password" formControlName="password" matInput [type]=" hide ? 'password' : 'text'" required />
                <button  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
                        [attr.aria-pressed]="hide">
                <mat-icon>
                    {{hide ? 'visibility_off' : 'visibility'}}
              </mat-icon>
            </button>
                <mat-error *ngIf="!registrationForm.controls['password'].valid">Password is required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="advanced_width">
                <mat-label>Password again</mat-label>
                <input matInput type="password" name="passwordAgain" formControlName="passwordAgain" 
                    matInput [type]=" hideAgain ? 'password' : 'text'" required/>
                <button  mat-icon-button matSuffix (click)="hideAgain = !hideAgain" [attr.aria-label]="'Hide Password'"
                        [attr.aria-pressed]="hideAgain">
                        <mat-icon>
                            {{hideAgain ? 'visibility_off' : 'visibility'}}
                        </mat-icon>
            </button>
                <mat-error *ngIf="!registrationForm.controls['password'].valid">Password is required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="advanced_width">
                <mat-label>Phone</mat-label>
                <input matInput type="tel" name="phone" formControlName="phone" />
                <mat-error *ngIf="!registrationForm.controls['phone'].valid">Phone is required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="advanced_width">
                <mat-label>Postal address</mat-label>
                <input matInput type="text" name="postalAddress" formControlName="postalAddress" />
                <mat-error *ngIf="!registrationForm.controls['postalAddress'].valid">Postal address is required</mat-error>
            </mat-form-field >

            <button mat-button class="reg-btn">Sign up</button>
        </form>
    </mat-card-content>
    </mat-card>
    </div>
</div>