<p>
    <ru-navbar></ru-navbar>
</p>
<div id="container">
    <div id="background-image">
         <img src="../../../../assets/images/map.png"/>
    </div>
 
    <div id="padding">
        <mat-card id="form"> 
            <mat-card-content>
                <div>
                    <div id="back-container">
                        <img id="back-arrow" src="../../../../../assets/images/green-back-arrow.png"/>
                    </div>
                    <p id="title" class="card-content">Ride details</p>
                </div>

                <div class="info">
                    <p class="text">Date: 22.11.2022.</p>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
 </div>
