<p>
    <ru-navbar></ru-navbar>
</p>
<div id="container">
    <div id="background-image">
         <img src="../../../../assets/images/map.png"/>
    </div>
 
    <div id="padding">
        <mat-card id="form"> 
            <mat-card-content>
                <div>
                    <div id="back-container">
                        <img id="back-arrow" (click)="navigateBack()" src="../../../../../assets/images/green-back-arrow.png"/>
                    </div>
                    <p id="title" class="card-content">Ride details</p>
                </div>

                <div class="info">
                    <p class="text">Date: 22.11.2022.</p>
                </div>
                <div class="info">
                    <p class="text">Time: 14:47 - 15:22</p>
                </div>
                <div class="info">
                    <p class="text">Distance: 3.7 km</p>
                </div>
                <div class="info">
                    <p class="text">Price : 429 RSD</p>
                </div>

                <div id="button-container">
                    <button mat-raised-button color="green" id="ratings-btn">
                        <p id="ratings">View ratings</p>
                        <img id="right-arrow" src="../../../../../assets/images/right-arrow.png"/>
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
 </div>
