<div id="container">
    <div id="padding">
        <mat-card id="form"> 
            <mat-card-content>
                <div id="alignment">
                    <img id="back-to-details" (click)="backToHistoryDetails()" src="../../../../../assets/images/green-back-arrow.png"/>
                    <p id="title" class="card-content">Ratings</p>

                    <ul>
                        <li *ngFor="let r of ratings">
                            <span class="item">
                                <img class="picture" src="../../../../../assets/images/account.png"/>
                                <div class="name-stars">
                                    <p class="name">{{ r.vehicleReview.passenger.email }}</p>
                                    <div class="stars">
                                        <img class="star" src="../../../../../assets/images/{{ showIcon(0, r.vehicleReview.rating) }}.png">
                                        <img class="star" src="../../../../../assets/images/{{ showIcon(1, r.vehicleReview.rating) }}.png">
                                        <img class="star" src="../../../../../assets/images/{{ showIcon(2, r.vehicleReview.rating) }}.png">
                                        <img class="star" src="../../../../../assets/images/{{ showIcon(3, r.vehicleReview.rating) }}.png">
                                        <img class="star" src="../../../../../assets/images/{{ showIcon(4, r.vehicleReview.rating) }}.png">
                                    </div>
                                </div>
                                <p class="type">TYPE: VEHICLE </p>
                                <p class="description">{{ r.vehicleReview.comment}}</p>
                            </span>
                        </li>
                        <li *ngFor="let r of ratings">
                            <span class="item">
                                <img class="picture" src="../../../../../assets/images/account.png"/>
                                <div class="name-stars">
                                    <p class="name">{{ r.driverReview.passenger.email }}</p>
                                    <div class="stars">
                                        <img class="star" src="../../../../../assets/images/{{ showIcon(0, r.driverReview.rating) }}.png">
                                        <img class="star" src="../../../../../assets/images/{{ showIcon(1, r.driverReview.rating) }}.png">
                                        <img class="star" src="../../../../../assets/images/{{ showIcon(2, r.driverReview.rating) }}.png">
                                        <img class="star" src="../../../../../assets/images/{{ showIcon(3, r.driverReview.rating) }}.png">
                                        <img class="star" src="../../../../../assets/images/{{ showIcon(4, r.driverReview.rating) }}.png">
                                    </div>
                                </div>
                                <p class="type">TYPE: DRIVER</p>
                                <p class="description">{{ r.driverReview.comment}}</p>
                            </span>
                        </li>
                    </ul>
                </div>
                <button id="rate" (click)="openReviewDialog()">LEAVE YOUR REVIEW</button>
            </mat-card-content>
        </mat-card>
    </div>
 </div>

