<mat-toolbar>
    <!--TODO in .ts via click listener change route either to passenger-home or driver-home (depending on current user)-->
    <!--TODO OR (alternative way) create new navigation (same like this one) with different routing-->
    <img src="../../assets/images/logo.png" class="clickable logo" [routerLink]="['/home-page']"/>
  <span [routerLink]="['/home-page']" class="clickable logo">Uber</span>
  <div id="navigation">
    <ul>
      <li><a [routerLink]="['/home-page']" id="nav-home" class="nav">Home</a></li>
      <li><a [routerLink]="['/base-page']" id="nav-history" class="nav">History</a></li>
      <li><a [routerLink]="['/account-passenger']" class="nav">Account</a></li>
      <li><a class="logout" (click)="logOut()">LogOut</a></li>
    </ul>
  </div>
    <span id="userName" class="clickable">Hello, {{userName()}}</span>
</mat-toolbar>