.container {
    margin: 10px;
    overflow-x: hidden;
}

#title {
    margin-top: 10%;
    margin-left: 10%;
    font-weight: bold;
    font-size: x-large;
    width: 10em;
}

#textarea {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 2px 0 0 5px;
    height: 80px;
}

#close-dialog {
    float: right;
    width: 20px;
    height: 20px;
    margin-right: 20px;
    margin-top: 5%;
  }
  
.close:hover{
    background-color: rgb(243, 237, 237);
    cursor: pointer;
}

#btn-container {
    width: 100%;
}

#save {
    width: 50%;
    vertical-align: top;
    margin-top: 15px;
    color: gray;
    border-radius: 5px;
    border: none;
    font-size: larger;
    margin-left: 25%;
    margin-bottom: 5%;
}

#save:hover{
    background-color: rgba(233, 233, 233, 1);
    cursor: pointer;
}