<ru-navbar *ngIf="isLoggedIn(); else secondNavbar"></ru-navbar>
<ng-template #secondNavbar>
    <uu-navbar></uu-navbar>
</ng-template>
<div id="page-container">
    <div id="container">
        <app-map [pickup]="pickup" [destination]="destination" (pickup_out)="getPickup($event)" (destination_out)="getDestination($event)"> </app-map>
    </div>
    
    <div id="all-components">
        <passenger-home (newItemEvent1)="getPickup($event)" (newItemEvent2)="getDestination($event)" [pickup_input]="pickup" [destination_input]="destination" id="passenger-home"></passenger-home>
    </div>
</div>