<div class="container">

    <div id="title">Change password</div>

    <mat-dialog-content>
        <form name="resetPassword" [formGroup]="changePasswordForm" (ngSubmit)="save()">
            <div class="full-width">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>New Password</mat-label>
                    <input formControlName="newPassword" 
                      matInput [type]=" hideNew ? 'password' : 'text'"
                      required />
                    <button  mat-icon-button matSuffix (click)="hideNew = !hideNew" [attr.aria-label]="'Hide Password'"
                      [attr.aria-pressed]="hideNew" type="button">
                      <mat-icon>
                          {{hideNew ? 'visibility_off' : 'visibility'}}
                      </mat-icon>
                    </button>
                    <mat-error *ngIf="!changePasswordForm.controls['newPassword'].valid"></mat-error>
                  </mat-form-field>   
            </div>
            <div class="full-width">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Old Password</mat-label>
                    <input formControlName="oldPassword" 
                      matInput [type]=" hideOld ? 'password' : 'text'"
                      required />
                    <button  mat-icon-button matSuffix (click)="hideOld = !hideOld" [attr.aria-label]="'Hide Password'"
                      [attr.aria-pressed]="hideOld" type="button">
                      <mat-icon>
                          {{hideOld ? 'visibility_off' : 'visibility'}}
                      </mat-icon>
                    </button>
                    <mat-error *ngIf="!changePasswordForm.controls['oldPassword'].valid"></mat-error>
                  </mat-form-field>   
            </div>

            <div class="buttons">
                <a mat-raised-button id="cancel" (click)="close()">Cancel</a>
                <button mat-raised-button color="green" id="accept">Accept</button>
            </div>
        </form>
    </mat-dialog-content>

</div>