.container {
    margin: 10px;
    overflow-x: hidden;
}

#title {
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    font-weight: bold;
    font-size: x-large;
    width: 10em;
}

.full-width {
    width: 100%;
}

.buttons {
    margin-top: 40px;
}

#cancel {
    width: 40%;
}
  
#accept {
    float: right;
    width: 40%;
}