<div class="container">
    <img src="../../assets/images/close.png" id="close-dialog" class="close" (click)="close()"/>

    <div id="title">New notification</div>
    <div class="notification">
        <p id="header">{{message.header}}</p>
        <p class="message">{{message.from}}</p>
        <p class="message">{{message.to}}</p>
        <p class="message">{{message.scheduledTime}}</p>
    </div>

    <ng-template [ngIf]="user == 'driver'">
        <div class="buttons">
            <button mat-button id="reject" (click)="cancel()">REJECT</button>
            <button mat-raised-button color="green" id="accept" (click)="accept()">ACCEPT</button>
        </div>
    </ng-template>
</div>
