<p>
    <admin-navbar></admin-navbar>
</p>

<div class="main-container">
    <p class="title">New Driver</p>

    <form [formGroup]="registrationForm" (ngSubmit)="registrate()" fxLayout="column">
        <div class="group">
            <mat-form-field appearance="outline" class="advanced_width right">
                <mat-label>Name</mat-label>
                <input matInput type="text" name="name" formControlName="name" />
                <mat-error *ngIf="!registrationForm.controls['name'].valid"></mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="advanced_width left">
                <mat-label>Last name</mat-label>
                <input matInput type="text" name="lastname" formControlName="lastname" />
                <mat-error *ngIf="!registrationForm.controls['lastname'].valid"></mat-error>
            </mat-form-field>
        </div>

        <div class="group">
            <mat-form-field appearance="outline" class="advanced_width right">
                <mat-label>Email address</mat-label>
                <input matInput type="email" name="email" formControlName="email" />
                <mat-error *ngIf="!registrationForm.controls['email'].valid"></mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="advanced_width left">
                <mat-label>Phone</mat-label>
                <input matInput type="tel" name="phone" formControlName="phone" />
                <mat-error *ngIf="!registrationForm.controls['phone'].valid"></mat-error>
            </mat-form-field>
        </div>

        <div class="group">
            <mat-form-field appearance="outline" class="advanced_width right">
                <mat-label>Password</mat-label>
                <input name="password" formControlName="password" matInput [type]=" hide ? 'password' : 'text'" required />
                <button  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
                        [attr.aria-pressed]="hide">
                <mat-icon>
                    {{hide ? 'visibility_off' : 'visibility'}}
                </mat-icon>
            </button>
                <mat-error *ngIf="!registrationForm.controls['password'].valid"></mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="advanced_width left">
                <mat-label>Postal address</mat-label>
                <input matInput type="text" name="postalAddress" formControlName="postalAddress" />
                <mat-error *ngIf="!registrationForm.controls['postalAddress'].valid"></mat-error>
            </mat-form-field >
        </div>
        <button mat-raised-button color="green" class="next-btn">Next</button>
        <a class="back" [routerLink]="['/drivers']">Back to List</a>
    </form>
    <p class="bottom">Bottom</p>
</div>