<p>
    <admin-navbar></admin-navbar>
</p>

<div>
    <div class="left-side">

        <div class="account">
            <label class="hoverable" for="fileInput">
                <img [src]="url ? url : 'https://www.w3schools.com/howto/img_avatar.png'"> 
                <div class="hover-text">Choose file</div>
                <div class="background"></div>
            </label>
            <br/>
            <input id="fileInput" type='file' (change)="onSelectFile($event)">
            <button mat-mini-fab class="delete" *ngIf="url" (click)="delete()" color="primary"
            ><mat-icon>delete</mat-icon></button>
        </div>

        <div class="name-surname">
            <span id="name">Vasa</span>
            <span id="surname">Vasić</span>
        </div>
        <div id="user">Administrator</div>

        <ul class="options">
            <li><a (click)="logOut()" id="logOut" class="option">Log Out</a></li>
        </ul>
    </div>

    <app-data></app-data>
</div>

